node_modules
recordings.tar
mkcert-v1.4.3-linux-amd64
certs/server.crt
certs/server.key
pdfjslib
cloudflare
src/public/Falling_Star.mp3
src/misc/Falling_Star.mp3:Zone.Identifier
utils/recordings/
utils/app/
utils/recordings_0707.tar
timeAnalytics/__pycache__
timeAnalytics/logs/
timeAnalytics/SoSe_Pdfs
timeAnalytics/videos
timeAnalytics/unprocessed_videos
timeAnalytics/data/pdfs_WiSe_2425